.page-about {
  .background-aboutUs {
    width: 100%;
    position: relative;
      h1 {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: 55px;
        color: white;
        z-index: 1;
        position: absolute;
      }
    img {
      display: block;
      width: 100%;
    }
  }

  .aboutUs-description {
    display: flex;
    flex-direction: column;
    padding: 26px 80px 20px 80px; 
    background-color: #EDEDED;

      .description {
        display: flex;
        

        .text {
          width: 50%;
          p {
            font-size:20px;
            color: #272727;
            line-height: 1.5;
            li {
              font: 600 20px "Poppins";
              margin-left: 22px;
            }
          }
        }
        .img {
          width: 50%;
        }
      }
      .path {
        color: #8B8B8B;
        display: flex;
        margin-bottom: 30px;
      }
  }
}
