.page-home {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    font-family: "Squada One" 36px;
    padding: 10px;
    display: flex;
    height: 60px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    nav {
      ul {
        display: flex;
        font: 500 1.2em "Inter";
        list-style: none;
        gap: 20px;
        li {
          padding: 10px;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background-color: rgb(168, 168, 168);
            border-radius: 5px;
            color: white;
          }
        }
      }
    }
  }
  .list-header {
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }
  .content {
    display: block;
    .imagem-fundo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    padding: 0;
    display: flex;
    flex-direction: column;
    > div {
      position: absolute;
      font: 500 "Roboto";
      color: white;
      top: 60%;
      left: 10%;
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.5em;
      }
     
      button {
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: #ff9900;
        width: 210px;
        padding: 10px 0px 10px 0px;
        font: 500 28px "Roboto";
      }
    }
  }
  .content-init {
    width: 100%;
    height: 100vh;
  }

}
