@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Squada+One&display=swap');

.comp-header {
  header {
    font-family: "Squada One" 36px;
    padding: 10px;
    display: flex;
    height: 60px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    nav {
      ul {
        display: flex;
        font: 500 1.2em;
        font-family:  "Inter" ;
        list-style: none;
        gap: 20px;
        a, a:active, :any-link, a:visited{
          color: black;
        }
        li {
          padding: 10px;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background-color: rgb(168, 168, 168);
            border-radius: 5px;
            color: white;
          }
        }
      }
    }
  }
  .list-header {
    @keyframes shake {
      0%, 100% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(2px, -2px);
      }
      50% {
        transform: translate(-2px, 2px);
      }
      75% {
        transform: translate(2px, 2px);
      }
    }
    
    @keyframes glow {
      0% {
        filter: brightness(1);
      }
      50% {
        filter: brightness(2);
      }
      100% {
        filter: brightness(1);
      }
    }
    img {
      animation: shake 0.2s ease-in-out infinite alternate, glow 1s infinite;
    }
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }
}



@media (max-width: 768px) {
  .comp-header {
    header {
      flex-direction: column;
      align-items: flex-start;

      nav {
        ul {
          flex-direction: row;
          gap: 10px;
          margin-left: 32%;
          text-align: center;
        }
      }
    }

    .list-header {
      margin-left: 0;
      justify-content: center;
      gap: 10px;
    }
  }
}

@media (max-width: 480px) {
  .comp-header {
    header {
      height: auto;
      padding: 5px;

      nav {
        ul {
          font-size: 1em;
        }
      }
    }

    .list-header {
      gap: 5px;
    }
  }
}