.comp-header {
  header {
    font-family: "Squada One" 36px;
    padding: 10px;
    display: flex;
    height: 60px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    nav {
      ul {
        display: flex;
        font: 500 1.2em "Inter";
        list-style: none;
        gap: 20px;
        a, a:active, :any-link, a:visited{
          color: black;
        }
        li {
          padding: 10px;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background-color: rgb(168, 168, 168);
            border-radius: 5px;
            color: white;
          }
        }
      }
    }
  }
  .list-header {
    @keyframes shake {
      0%, 100% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(2px, -2px);
      }
      50% {
        transform: translate(-2px, 2px);
      }
      75% {
        transform: translate(2px, 2px);
      }
    }
    
    @keyframes glow {
      0% {
        filter: brightness(1);
      }
      50% {
        filter: brightness(2);
      }
      100% {
        filter: brightness(1);
      }
    }
    img {
      animation: shake 0.2s ease-in-out infinite alternate, glow 1s infinite;
    }
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }
}
