.comp-footer {
  footer {
    color: white;
    .informations-footer {
      background-color: #1e1e1e;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .contatos {
        @keyframes blink {
          0%,
          100% {
            opacity: 1;
            filter: brightness(1);
          }
          50% {
            opacity: 0.5;
            filter: brightness(1.5);
          }
        }
        img {
          animation: blink 1s infinite;
        }
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        position: absolute;

        h5 {
          font: 600 2em "Roboto";
          margin-bottom: 20px;
        }
      }
      .social-medias {
        $hover-color: #00aaff;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        h6 {
          font: 500 24px "Roboto";
        }
        & > div {
          margin-top: 10px;
          margin-left: 13px;
          display: flex;
          gap: 15px;
        }
        
        a {
          transition: transform 0.3s ease, background-color 0.3s ease;
          &:hover {
            transform: scale(1.2);
            background-color: $hover-color;
          }
         
          .facebook:hover {
            background-color: #3b5998;
          }
          .twitter:hover {
            background-color: #1da1f2;
          }
          .instagram:hover {
            background: radial-gradient(
              circle at 30% 107%,
              #fdf497 0%,
              #fdf497 5%,
              #fd5949 45%,
              #d6249f 60%,
              #285aeb 90%
            );
          }
          .googleplus:hover {
            background-color: #db4437;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .informations-footer {
    flex-direction: column; // Muda a direção do flex para coluna em telas menores
    align-items: center; // Centraliza os itens
    .contatos {
      margin-left: 0; // Remove a margem à esquerda
      margin-bottom: 20px; // Adiciona espaço abaixo
    }
    .social-medias {
      margin-right: 0; // Remove a margem à direita
    }
  }
}

@media (max-width: 480px) {
  .informations-footer {
    .contatos h5 {
      font-size: 1.5em; // Reduz o tamanho da fonte para telas pequenas
      margin-right: 50px;
    }
    .social-medias h6 {
      font-size: 20px; // Reduz o tamanho da fonte para telas pequenas
      margin-left: 35 px;
    }
  }
}
